<!-- User Account: style can be found in dropdown.less -->
<li dropdown class="user user-menu">

  <a dropdownToggle href="#">
    <img src="{{user.imgUrl}}" class="user-image" alt="User Image">
    <span class="hidden-xs">{{user.name}}</span>
  </a>
  <ul dropdownMenu>
    <!-- User image -->
    <li class="user-header">
      <img src="{{user.imgUrl}}" class="img-circle" alt="User Image">

      <p>
        Alexander Pierce - Web Developer
        <small>Member since Nov. 2012</small>
      </p>
    </li>
    <!-- Menu Body -->
    <li class="user-body">
      <div class="row">
        <div class="col-xs-4 text-center">
          <a href="#">Followers</a>
        </div>
        <div class="col-xs-4 text-center">
          <a href="#">Sales</a>
        </div>
        <div class="col-xs-4 text-center">
          <a href="#">Friends</a>
        </div>
      </div>
      <!-- /.row -->
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
      <div class="pull-left">
        <a href="#" class="btn btn-default btn-flat">Profile</a>
      </div>
      <div class="pull-right">
        <a href="#" class="btn btn-default btn-flat">Sign out</a>
      </div>
    </li>
  </ul>
</li>
