<!-- User Account: style can be found in dropdown.less -->
<li adm-dropdown class="user user-menu">

  <a adm-dropdown-toggle href="#">
    <img src="{{model.imgUrl}}" class="user-image" alt="User Image">
    <span class="hidden-xs">{{model.name}}</span>
  </a>
  <ul adm-dropdown-menu>
    <!-- User image -->
    <li class="user-header">
      <img src="{{model.imgUrl}}" class="img-circle" alt="User Image">
      <p [innerHTML]="model.description"></p>
    </li>
    <!-- Menu Body -->
    <!--<li class="user-body">-->
    <!--<div class="row">-->
    <!--<div class="col-xs-4 text-center">-->
    <!--<a href="#">Followers</a>-->
    <!--</div>-->
    <!--<div class="col-xs-4 text-center">-->
    <!--<a href="#">Sales</a>-->
    <!--</div>-->
    <!--<div class="col-xs-4 text-center">-->
    <!--<a href="#">Friends</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.row &ndash;&gt;-->
    <!--</li>-->
    <!-- Menu Footer-->
    <li class="user-footer" *ngIf="model.leftButton || model.rightButton">
      <div class="pull-left" *ngIf="model.leftButton">
        <a (click)="model.leftButton.clickFn()" class="btn btn-default btn-flat">{{model.leftButton.text}}</a>
      </div>
      <div class="pull-right" *ngIf="model.rightButton">
        <a (click)="model.rightButton.clickFn()" class="btn btn-default btn-flat">{{model.rightButton.text}}</a>
      </div>
    </li>
  </ul>
</li>
