<header class="main-header">
  <!-- Logo -->
  <a href="{{model.logoModel.href}}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini" [innerHTML]="model.logoModel.miniLogo"></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg" [innerHTML]="model.logoModel.logo"></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a adm-sidebar-switch href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <ng-content></ng-content>
      </ul>
    </div>
  </nav>
</header>
