<adm-framework>
  <!-- Top header -->
  <adm-header>
    <adm-header-user [user]="loginUser"></adm-header-user>
    <adm-header-ctrlbar></adm-header-ctrlbar>
  </adm-header>

  <!-- Left side column. contains the logo and sidebar -->
  <adm-sidebar>
    <adm-sidebar-user [user]="loginUser"></adm-sidebar-user>
    <adm-sidebar-search></adm-sidebar-search>
    <adm-sidebar-treeview [items]="treeViewItems"></adm-sidebar-treeview>
  </adm-sidebar>

  <adm-content></adm-content>

  <!--&lt;!&ndash; /.content-wrapper &ndash;&gt;-->
  <adm-footer></adm-footer>

  <adm-ctrlbar [activeId]="'secondTab'">

    <adm-ctrlbar-tab>
      <template adm-ctrlbar-tab-title><i class="fa fa-home"></i></template>
      <template adm-ctrlbar-tab-content>
        <adm-ctrlbar-item *ngFor="let item of ctrlBarItems" [model]="item"></adm-ctrlbar-item>
      </template>
    </adm-ctrlbar-tab>

    <adm-ctrlbar-tab [id]="'secondTab'" >
      <template adm-ctrlbar-tab-title><i class="fa fa-gears"></i></template>
      <template adm-ctrlbar-tab-content>
        <adm-ctrlbar-item [model]="ctrlBarItems[1]"></adm-ctrlbar-item>
      </template>
    </adm-ctrlbar-tab>

  </adm-ctrlbar>

</adm-framework>
