<adm-framework>
    <!-- Top header -->
    <adm-header>
        <adm-header-user [user]="loginUser"></adm-header-user>
        <adm-header-ctrlbar></adm-header-ctrlbar>
    </adm-header>

    <!-- Left side column. contains the logo and sidebar -->
    <adm-sidebar>
        <adm-sidebar-user [user]="loginUser"></adm-sidebar-user>
        <!--<adm-tree-view></adm-tree-view>-->
    </adm-sidebar>

    <adm-content></adm-content>

    <!--&lt;!&ndash; /.content-wrapper &ndash;&gt;-->
    <adm-footer></adm-footer>

    <adm-ctrlbar></adm-ctrlbar>

</adm-framework>